html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background-color: #ffff99;
}

header {
    padding: 0.75rem 0;
    background-color: #7bc2e6;
    border-bottom: 2px solid #5F8885;
    color: white;
}

main {
    position: relative;
    padding-top: 2rem;
    height: calc(100vh - 148px);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    padding: 2rem 2rem 0rem 2rem;
    box-sizing: border-box;
    background-color: rgba(225, 255, 255, 0.75);
    border: 2px solid #5F8885;
}

table {
    margin-bottom: 2rem;
}

table, table th, table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table td {
    padding: 0.5rem;
}

button {
    background-color: transparent;
    border: none;
    font-size: 100%;
    cursor: pointer;
}

.center {
    text-align: center;
}

.clean-button {
    padding: 0;
    font-size: 1.125rem;
    text-decoration: underline;
}

.hint-button {
    display: flex;
}

.hint-button span {
    margin-left: 0.5rem;
}

.hint-text {
    margin-top: 1rem;
    border: 1px solid #323232;
    border-radius: 4px;
    padding: 0.375rem 0.5rem;
}

input {
    padding: 0.75rem;
    font-size: 100%;
    border: 1px solid #222;
    border-radius: 4px;
}

dialog {
    position: relative;
    border: 2px solid black;
    padding: 1.5rem 2rem;
    min-height: 300px;
    min-width: 500px;
    max-width: 600px;
}

.dialog-content p img {
    display: block;
    margin: 1rem 0;
}

p {
    margin-top: 0;
}

.button {
    background-color: #35374c;
    border: 1px solid #2a2c3c;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

.content {
    width: 750px;
    margin: 0 auto;
}

.header-content {
    display: flex;
}

.header-content h1 {
    margin-left: 1rem;
    font-weight: normal;
}

.intro {
    font-size: 1.125rem;
}

.challenges {
    display: grid;
    grid-template-columns: 165px 165px 165px;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 2rem 0;
    width: 565px;
}

.challenge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5F8885;
    height: 165px;
    width: 165px;
    perspective: 750px;
}

.door {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a6bacf;
    transform: rotateY(0deg);
    transition: all 0.75s ease;
    transform-origin: 0% 0%;
    cursor: not-allowed;
}

.door.can-open {
    cursor: pointer;
    transform: rotateY(-30deg);
    background-color: #6082b6;
}

.door.is-open {
    transform: rotateY(-95deg) !important;
}

.door.can-open:hover {
    transform: rotateY(-40deg);
}

.number {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.lock {
    display: block;
    margin: 0 auto;
}

.lock.can-open {
    display: none;
}

.puzzel {
    font-weight: bold;
    margin: 0.75rem 0;
    font-size: 2rem;
}

.close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
}

.answer-form {
    display: grid;
    grid-template-columns: 306px 130px 30px;
    gap: 1rem;
    margin-bottom: 1rem;
}

.lock-container {
    display: none;
}

.lock-container.is-checking {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);

    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 600ms;
}

.lock-container img {
    height: 160px;
}

.is-hidden {
    display: none;
}

.is-visible {
    display: block;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.easter-egg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.easter-egg {
    border-radius: 50%;
    position: absolute;
    top: 3.275rem;
    left: 0;
    right: 0;
    height: 130px;
    width: 130px;
}

#confetti {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.happy-easter {
    font-size: 3em;
    font-weight: bold;
    color: hotpink;
    margin: 0 auto 1rem;
    text-align: center;
}
